.App {
  text-align: center;
  align-content: center
}


.chatWindow {
  height: 20em;
  text-align:left;
  font-size:12px;
  width: 50%;
  margin:auto auto;
  border:1px solid red;
  overflow-y: scroll;
}

.chatWindow .message { 
  padding-right:1em;
  padding-left:1em;
  margin-bottom:5em;
  margin-top:1em;
  width:80%;
  clear:both;
}

.message .iconWrapper {
  float:left;
}

.message .textWrapper {
  float:left;
  padding-top:0.5em;
  margin-left:1em;
}

.message .icon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 2em;
  text-align: center;
  background: red
}

.message .user {
  font-weight: bold;
  padding:0;
  margin:0;
}

.message .text {
  margin-top:0;
}