.App {
  text-align: center;
  align-content: center
}

body {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='100px' opacity='0.25'><text x='0' y='50' font-size='40'>🐎</text></svg>");
}

.ballot h1 {
  color: brown;
}

.voteOptions {
  /* display: inline-flex */
  display:inline-grid;
  grid-template-columns: 10em 10em 10em 10em;
  grid-column-gap:1em;
}

.vote {
  background: white;
  border:1px solid brown;
  cursor: pointer;
  /* height:10em;
  width:10em;
  margin:2em; */
}

.loader {
  width: 100px;
  height: 100px;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='100px' opacity='1'><text x='0' y='50' font-size='40'>🏇</text></svg>");
  -webkit-animation: spin 1s infinite linear;

  display: table;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
