.App {
  text-align: center;
  align-content: center
}

body {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='100px' opacity='0.25'><text x='0' y='50' font-size='40'>🐎</text></svg>");
}

.ballot h1 {
  background: brown;
  background: linear-gradient(to right, orange , brown, green, deeppink, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vote-options {
  display:inline-grid;
  grid-template-columns: 10em 10em 10em 10em;
  grid-column-gap:1em;
}

.vote {
  background: white;
  border:1px solid brown;
  cursor: pointer;
}

.loader {
  -webkit-animation: spin 1s infinite linear;
  font-size: 50px;
  display: table;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
